<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h1>Instagram</h1>
    <hr>
    <h3>Edit User</h3>
    <form action="/users/<%= user.id %>?_method=patch" method="post" enctype="multipart/form-data">
        <label for="username" >Username: </label>
        <input type="text" name="username" required value="<%= user.username %>">
        <br>
        <label for="oldpass">Old Password: <%= user.password %></label>
        <br>
        <label for="username">New Password: </label>
        <input type="password" name="password" required value="<%= user.password %>">
        <br>
        <label for="profilePic">Add a Picture: </label>
        <input type="file" accept="image/*" name="profilePic" placeholder="upload your image" >
        <br>
        <label for="content">Content: </label>
        <textarea name="post" placeholder="enter your content" cols="35" rows="10"><%= user.post %></textarea>
        <br>
        <br>
        <button type="submit">Update</button>
    </form>
</body>
</html>